
:root {

    --orange: rgb(219, 169, 31);
    --noir: rgb(0, 0, 0);

    --c-barre-serie-1: var(--couleur-accent);
    --c-barre-serie-2: var(--couleur-primaire);
    --c-barre-serie-3: var(--couleur-secondaire);

    --c-ligne-serie-1: var(--couleur-primaire);
    --c-ligne-serie-1-bis: var(--couleur-primaire-clair);
    --c-ligne-serie-2: var(--couleur-accent);
    --c-ligne-serie-3: var(--couleur-secondaire);
    --c-ligne-serie-4: var(--orange);
    --c-ligne-serie-5: var(--noir);
    --c-grille-charts: var(--couleur-neutre-40);
    --c-bords-charts: var(--couleur-neutre-40);

    --c-chart-radar: var(--couleur-accent-transparent);
    --c-chart-radar-bordure: var(--couleur-accent-sombre);
    --c-chart-radar-france: var(--couleur-neutre-transparent);
    --c-chart-radar-france-bordure: var(--couleur-neutre-60);
    --c-chart-radar-lignes-grille: var(--couleur-neutre-20);

}
