@font-face {
    font-family: 'font-family-titre';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts-defaut/Montserrat-700.woff2) format('woff2');
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}


@font-face {
    font-family: 'font-family-texte';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts-defaut/Poppins-400.woff2) format('woff2');
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'font-family-texte-gras';
    font-style: normal;
    font-weight: 600;
    src: url(./fonts-defaut/Poppins-600.woff2) format('woff2');
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

:root {

    --font-systeme: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
    --font-family-titre: 'font-family-titre', var(--font-systeme);
    --font-family-texte: 'font-family-texte', var(--font-systeme);
    --font-family-texte-gras: 'font-family-texte-gras', var(--font-systeme);

    --couleur-primaire-clair: #BFE3D6;
    --couleur-primaire: #27987C;
    --couleur-primaire-sombre: #0F4A3B;

    --couleur-secondaire-clair: #C7DCE4;
    --couleur-secondaire: #3A858B;
    --couleur-secondaire-sombre: #0A3E55;

    --couleur-accent-clair: #D96C5B;
    --couleur-accent: #D23219;
    --couleur-accent-sombre: #571208;
    --couleur-accent-transparent: #D2321940;

    --couleur-neutre-clair: #F7F6F4;
    --couleur-neutre: #162A41;
    --couleur-neutre-sombre: #09111B;
    --couleur-neutre-80: #435365;
    --couleur-neutre-60: #6F7B89;
    --couleur-neutre-40: #9CA4AD;
    --couleur-neutre-20: #C8CCD1;
    --couleur-neutre-transparent: #162A4120;

    --couleur-blanc: #ffffff;
    --couleur-fond: #F7F6F4;

    --couleur-succes-clair: #DEE9C8;
    --couleur-succes: #B1CC7E;
    --couleur-succes-sombre: #00613A;
    --couleur-danger-clair: #FBD3CB;
    --couleur-danger: #EF5C3F;
    --couleur-danger-sombre: #97240D;
    --couleur-warning-clair: #F8DFA6;
    --couleur-warning: #EFBB3F;
    --couleur-warning-sombre: #B8690F;

    /* unite de marge/padding pour le design system, en pixel */
    --dsem: 8px;

    color: var(--couleur-neutre);
}
